---
import Button from "../components/Button.astro";
import NextJSIcon from "../components/icons/NextJSIcon.astro";
import ReactIcon from "../components/icons/ReactIcon.astro";
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import TypeScriptIcon from "../components/icons/TypeScriptIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import Gsap from "./icons/Gsap.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import WorldIcon from "./icons/WorldIcon.astro";

const TAGS = {
  REACT: {
    name: "React",
    icon: ReactIcon,
  },
  NEXTJS: {
    name: "NextJS",
    icon: NextJSIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypeScriptIcon,
  },
  TAILWINDCSS: {
    name: "Tailwind CSS",
    icon: TailwindIcon,
  },
  HTML: {
    name: "HTML",
    icon: HtmlIcon,
  },
  CSS: {
    name: "CSS",
    icon: CssIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScriptIcon,
  },
  ASTRO: {
    name: "Astro",
    icon: AstroIcon,
  },
  GSAP: {
    name: "GSAP",
    icon: Gsap,
  },
  SCROLLTRIGGER: {
    name: "ScrollTrigger",
    icon: AstroIcon,
  },
};

const PROJECTS = [
  {
    title: "rEFInd Themes Collection",
    description:
      "A small collection of refind themes from github's that allow you to effortlessly chose your favorite and style your linux boot manager.",
    link: "https://refind-themes-collection.netlify.app/",
    github: "https://github.com/martinmilani/rEFInd-theme-collection",
    image: "./projects/refind_collection.webp",
    tags: [TAGS.ASTRO, TAGS.TYPESCRIPT, TAGS.TAILWINDCSS],
  },
  {
    title: "Night Sky Experiences",
    description:
      "A modern, animated web experience featuring a beautiful night sky theme and interactive card-based content.",
    link: "https://effervescent-horse-ab20b0.netlify.app/",
    github: "https://github.com/martinmilani/nightsky",
    image: "./projects/nightsky.webp",
    tags: [TAGS.ASTRO, TAGS.GSAP, TAGS.TAILWINDCSS],
  },
  {
    title: "JavaScript Game Development",
    description:
      "2D games with HTML, CSS & plain vanilla JavaScript, no frameworks and no libraries! From sprite animation to state management.",
    link: "https://js-game-dev.vercel.app/",
    github: "https://github.com/martinmilani/JS-Game-Dev",
    image: "./projects/js-game.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags, github, link }) => (
    <article class="flex flex-col md:flex-row md:items-start md:gap-x-8 mb-8">
      <img class="rounded-xl mb-8 md:w-1/2" src={image} alt={`Poject ${image} screenshoot`} />
      <div class="md:w-1/2">
        <h3 class="text-2xl font-bold text-dracula-purple mb-3">{title}</h3>
        <ul class="flex gap-x-1 flex-row flex-wrap gap-y-1 my-3">
          {tags.map((tag) => (
            <li>
              <span class="text-xs font-base me-2 px-2.5 py-0.5 rounded-full bg-gray-800 text-dracula-foreground inline-flex justify-center items-center gap-x-1">
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <p class="mb-4 text-pretty text-gray-400">{description}</p>
        <div class="flex flex-row justify-end gap-x-4">
          <Button href={github}>
            <GitHubIcon class="size-6" />
            Code
          </Button>
          {link && (
            <Button href={link}>
              <WorldIcon class="size-6" />
              Preview
            </Button>
          )}
        </div>
      </div>
    </article>
  ))
}
